@import "tailwindcss";

/* Custom Dark Theme Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #090d16;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
  border: 2px solid #090d16;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Firefox Scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: #1e293b #090d16;
}
